@import './scss/var';
@import './scss/reset';

body {
  font-family: 'Lato', sans-serif;
}

.conteiner {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.flex-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@import "./scss/logo";
@import "./scss/navigations";
@import "./scss/registration";
@import "./scss/our-services";
@import "./scss/about-us";
@import "./scss/price";