@import './scss/var';
@import './scss/reset';

body {
  font-family: 'Lato', sans-serif;
}

.conteiner {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.flex-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  height: 50px;
  width: 50px;
  display: flex;
  margin: 22px 0 23px;
}

.logo-circular-path {
  &-1{
    stroke-dasharray: $long-big-sircular, 300;
    fill: none;
    stroke-width: 3px;
    stroke: #12a8de;
    animation: loader_anim_1 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1s 1
      backwards;
    transform-origin: 100% 100%;
  }
  &-2 {
    stroke-dasharray: $long-middle-sircular, 300;
    fill: none;
    stroke-width: 3px;
    stroke: #9ac444;
    animation: loader_anim_2 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1.5s 1
      backwards;
    transform-origin: 100% 100%;
  }
  &-3 {
    stroke-dasharray: $long-small-sircular, 300;
    fill: none;
    stroke-width: 3px;
    stroke: #ef7730;
    animation: loader_anim_3 cubic-bezier(0.12, 0.88, 0.53, 1.08) 2s 1
      backwards;
    transform-origin: 100% 100%;
  }
}

@keyframes loader_anim_1 {
  0% {
    stroke-dasharray: 0, 300;
    transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 95, 300;
  }
}

@keyframes loader_anim_2 {
  0% {
    stroke-dasharray: 0, 300;
    transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 63, 300;
  }
}

@keyframes loader_anim_3 {
  0% {
    stroke-dasharray: 0, 300;
    transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 32, 300;
  }
}

/* Navigations */

.navigation {
  &-wrap {
    position: relative;
    display: none;
  }
}
.nav {
  &-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-link {
    color: $gray;
    flex-wrap: wrap;
    padding: 8px 19px 10px 20px;
    font-weight: $weight-normal;
    transition: .3s;
    font-size: 13.5px;
    line-height: 16.2px;
  }
  &-link:hover{
    color: $white;
    background-color: #FFBB42;
  }
  &-list-resize {
    border: 3px solid #FFBB42;
    border-radius: 5px;
    position: absolute;
    display: none;
    left: -170px;
    top: 29px;
    background-color: $white;
  }
  &-item-resize {
    width: 200px;
    padding: 15px;
    border-bottom: 1px gray solid;
    transition: .5s;
  }
  &-item-resize:last-child {
    border: 0;
  }
  &-item-resize:hover {
    background-color: #FFBB42;
  }
  &-link-resize {
    color: $gray;
    display: flex;
    width: 100%;
    font-weight: $weight-normal;
    transition: .3s;
    font-size: 13.5px;
    line-height: 16.2px;
  }
}
.navigation-resize:hover {
  .nav-list-resize {
    position: absolute;
    display: block;
    flex-direction: column;
  }
}

/* Main */

.main {
  &-background {
    background: linear-gradient(#709DCA 85%, $white 85%);
  }
  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-input {
    &-fields {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-person {
      width: 15px;
      height: 15px;
      margin: 15px 12px 15px 12px;
    }
    &-message {
      margin: 16px 12px 18px 16px;
    }
    &-phone {
      margin: 17px 12px 17px 16px;
    }
    width: 281px;
    margin: 5px;
    display: flex;
    align-items: center;
    background-color: $white;
    &-button {
      margin: 5px;
      justify-content: center;
      align-items: center;
      width: 211px;
      height: 48px;
      border: 0;
      background-color: #FFBB42;
    }
    &-button-text {
      color: $white;
      font-weight: $weight-normal;
      font-size: 14px;
      line-height: 17px;
      margin: 0 auto;
      padding: 0 5px;
    }
  }
}
input {
  border: 0;
  height: 16px;
  width: 241px;
  &::placeholder {
    color: #A9A9A9;
  }
  &:focus-visible, :focus {
    outline: none;
    color: #A9A9A9;
  }
}
.header {
  &-registration {
    margin-top: 82px;
    color: $white;
    font-weight: $weight-fatter;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
  }
  &-description {
    margin-top: 16px;
    margin-bottom: 27px;
    color: $white;
    font-weight: $weight-normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
}

.leaf-through {
  &-adverts {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-wrap {
    margin-top: 67px;
    max-width: 647px;
    max-height: 344px;
  }
  &-laptop {
    width: 100%;
  }
  &-phone {
    height: 100%;
  }
  &-smart-watch {
    height: 100%;
  }
  &-wrap:nth-child(2) {
    display: none;
    align-items: center;
  }
  &-wrap:nth-child(3) {
    display: none;
    align-items: center;
  }
  &-input-radio {
    display: flex;
    justify-content: center;
  }
}

input[type="radio"] {
  appearance: none;
  width: 13px;
  height: 13px;
  margin: 23px 4px 4px 4px;
  background-color: $white;
  border-radius: 50%;
  border: 2px solid #DEDFE0;
  &:checked {
    border: 2px solid #1CA8DD;
  }
}

/* Our services */

.our-services {
  color: $navy-blue;
  &-flex {
    margin-top: 85px;
  }
  &-conteiner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 557px;
  }
  &-svg-photo {
    width: 45px;
    height: 45px;
    margin-right: 35px;
  }
  &-header {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: $weight-bold;
    color: $navy-blue;
    max-width: 185px;
  }
  &-text {
    font-size: 13px;
    line-height: 15.6px;
    font-weight: $weight-normal;
    color: #7B7B7B;
    max-width: 432px;
  }
}
.h1 {
  margin: 70px auto 0 auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: $weight-fatter;
  padding: 0 10px;
  max-width: 230px;
}
.text-our-services {
  margin: 17px auto 0 auto;
  padding: 0 10px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: $weight-normal;
  max-width: 530px;
}