html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.conteiner {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Logo */
.logo {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0 23px;
}

.logo-circular-path-1 {
  stroke-dasharray: 95, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #12a8de;
  -webkit-animation: loader_anim_1 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1s 1 backwards;
          animation: loader_anim_1 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1s 1 backwards;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.logo-circular-path-2 {
  stroke-dasharray: 63, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #9ac444;
  -webkit-animation: loader_anim_2 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1.5s 1 backwards;
          animation: loader_anim_2 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1.5s 1 backwards;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.logo-circular-path-3 {
  stroke-dasharray: 32, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #ef7730;
  -webkit-animation: loader_anim_3 cubic-bezier(0.12, 0.88, 0.53, 1.08) 2s 1 backwards;
          animation: loader_anim_3 cubic-bezier(0.12, 0.88, 0.53, 1.08) 2s 1 backwards;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@-webkit-keyframes loader_anim_1 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 95, 300;
  }
}

@keyframes loader_anim_1 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 95, 300;
  }
}

@-webkit-keyframes loader_anim_2 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 63, 300;
  }
}

@keyframes loader_anim_2 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 63, 300;
  }
}

@-webkit-keyframes loader_anim_3 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 32, 300;
  }
}

@keyframes loader_anim_3 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 32, 300;
  }
}

/* Navigations */
.navigation-wrap {
  position: relative;
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-link {
  color: #868686;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 19px 10px 20px;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 13.5px;
  line-height: 16.2px;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #FFBB42;
}

.nav-list-resize {
  border: 3px solid #FFBB42;
  border-radius: 5px;
  position: absolute;
  display: none;
  left: -170px;
  top: 29px;
  background-color: #ffffff;
}

.nav-item-resize {
  width: 200px;
  padding: 15px;
  border-bottom: 1px gray solid;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-item-resize:last-child {
  border: 0;
}

.nav-item-resize:hover {
  background-color: #FFBB42;
}

.nav-link-resize {
  color: #868686;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 13.5px;
  line-height: 16.2px;
}

.navigation-resize:hover .nav-list-resize {
  position: absolute;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Main */
.main-background {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, #709DCA), color-stop(85%, #ffffff));
  background: linear-gradient(#709DCA 85%, #ffffff 85%);
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration-input {
  width: 281px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.registration-input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration-input-person {
  width: 15px;
  height: 15px;
  margin: 15px 12px 15px 12px;
}

.registration-input-message {
  margin: 16px 12px 18px 16px;
}

.registration-input-phone {
  margin: 17px 12px 17px 16px;
}

.registration-input-button {
  margin: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  height: 48px;
  border: 0;
  background-color: #FFBB42;
}

.registration-input-button-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  padding: 0 5px;
}

input {
  border: 0;
  height: 16px;
  width: 241px;
}

input::-webkit-input-placeholder {
  color: #A9A9A9;
}

input:-ms-input-placeholder {
  color: #A9A9A9;
}

input::-ms-input-placeholder {
  color: #A9A9A9;
}

input::placeholder {
  color: #A9A9A9;
}

input:focus-visible, input :focus {
  outline: none;
  color: #A9A9A9;
}

.header-registration {
  margin-top: 82px;
  color: #ffffff;
  font-weight: 900;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
}

.header-description {
  margin-top: 16px;
  margin-bottom: 27px;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.leaf-through-adverts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leaf-through-wrap {
  margin-top: 67px;
  max-width: 647px;
  max-height: 344px;
}

.leaf-through-laptop {
  width: 100%;
}

.leaf-through-phone {
  height: 100%;
}

.leaf-through-smart-watch {
  height: 100%;
}

.leaf-through-wrap:nth-child(2) {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaf-through-wrap:nth-child(3) {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaf-through-input-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 13px;
  height: 13px;
  margin: 23px 4px 4px 4px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #DEDFE0;
}

input[type="radio"]:checked {
  border: 2px solid #1CA8DD;
}

/* Our services */
.our-services {
  color: #394B50;
}

.our-services-flex {
  margin-top: 85px;
  margin-bottom: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 78px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 557px;
}

.our-services-conteiner:nth-child(1) {
  margin-bottom: 78px;
}

.our-services-svg-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  margin-right: 35px;
  cursor: default;
}

.our-services-svg-photo-icon__before-and-after {
  color: #709DCA;
  font-size: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.our-services-svg-photo-icon__before-and-after:hover {
  color: #F6772C;
}

.our-services-svg-photo-half-turned {
  color: #709DCA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 33px;
}

.our-services-svg-photo__flex {
  width: 46.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-services-svg-photo__flex:hover .our-services-svg-photo-half-turned {
  color: #F6772C;
}

.our-services-header {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  color: #394B50;
  max-width: 185px;
  margin-bottom: 14.88px;
}

.our-services-text {
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 400;
  color: #7B7B7B;
  max-width: 432px;
}

.tv__size {
  font-size: 32px;
}

.h1 {
  margin: 70px auto 0 auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  padding: 0 10px;
  max-width: 230px;
}

.text-our-services {
  margin: 17px auto 0 auto;
  padding: 0 10px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
  max-width: 530px;
}

.about-us-wrap {
  background-color: #FFC155;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us-picture {
  max-width: 850px;
  margin-bottom: -2px;
}

.about-us-png {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us-head-and-text {
  padding: 40px 81px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-head {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  margin-bottom: 18.88px;
}

.about-us-text {
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 400;
  max-width: 475px;
  margin-bottom: 51.6px;
}

.about-us-button {
  border: 1px solid #E7AD48;
  width: 144px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 2px;
}

.about-us-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.about-us-button:active {
  background: #ffffff;
}

.price {
  padding-top: 98px;
  background-color: #E7EDF3;
}

.price-h1__color {
  margin-top: 0;
  color: #394B50;
  max-width: 311px;
}

.price-text__color {
  color: #394B50;
  max-width: 675px;
  padding-bottom: 54px;
  text-align: center;
}

.price-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 54px 0 164px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-plan-whichever {
  margin: 0 1px;
  max-width: 391px;
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 30px solid #E7EDF3;
  border-bottom: 30px solid #E7EDF3;
  padding: 50px 31px 48px 31px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price-plan-whichever:hover {
  background-color: #709DCA;
  border-top: 30px solid #709DCA;
  border-bottom: 30px solid #709DCA;
}

.price-plan-whichever:hover .price-plan-whichever-h2 {
  color: #ffffff;
}

.price-plan-whichever:hover .price-plan-whichever-cost {
  color: #ffffff;
}

.price-plan-whichever:hover .price-plan-whichever-about-plan {
  color: #ffffff;
}

.price-plan-whichever:hover hr {
  color: #8EB8E2;
}

.price-plan-whichever:hover .price-plan-whichever-cost-dollar-gold {
  display: none;
}

.price-plan-whichever:hover .price-plan-whichever-cost-dollar-white {
  display: block;
}

.price-plan-whichever:hover .price-plan-whichever {
  margin: 0;
  padding: 0 2px;
}

.price-plan-whichever-h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  color: #818B95;
}

.price-plan-whichever-cost {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  color: #FFBB42;
}

.price-plan-whichever-cost__margin {
  margin-left: 5px;
  margin-right: 10px;
}

.price-plan-whichever-cost-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-plan-whichever-cost-dollar {
  margin-bottom: 14px;
}

.price-plan-whichever-cost-dollar-white {
  display: none;
}

.price-plan-whichever-about-plan {
  margin: 12px 0;
  color: #B5BBC1;
  font-size: 13.5px;
  line-height: 16.2px;
  font-weight: 400;
}

.price-plan-whichever-button {
  width: 131px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  background-color: #FFBB42;
  color: #ffffff;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 2px;
}

.price-plan-whichever-button:hover {
  background: #f1c473;
}

.price-plan-whichever-button:active {
  background: #ffffff;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #E2E9F0;
  margin: 0;
  border: 0;
}

.per-month {
  margin-top: 0;
  margin-bottom: 42px;
  color: #818B95;
}

.explanation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 117px 0 149px;
}

.explanation-h1__color {
  margin-top: 0;
  color: #394B50;
  max-width: 254px;
}

.explanation-text__color {
  margin-top: 14px;
  color: #394B50;
  max-width: 525px;
  padding-bottom: 0px;
  text-align: center;
}

.explanation-seriatim {
  width: 100%;
}

.explanation-seriatim-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.explanation-seriatim-arrow-first {
  position: relative;
  top: 76px;
  left: 16px;
}

.explanation-seriatim-arrow-second {
  position: relative;
  top: 186px;
}

.explanation-seriatim-arrow-third {
  position: relative;
  top: 77px;
}

.explanation-seriatim-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explanation-seriatim-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 51px;
}

.explanation-seriatim-item-pikch1 {
  width: 90.73px;
  margin-bottom: 76px;
}

.explanation-seriatim-item-pikch2 {
  width: 84px;
  margin-bottom: 78px;
}

.explanation-seriatim-item-pikch3 {
  width: 120px;
  margin-bottom: 88px;
}

.explanation-seriatim-item-pikch4 {
  width: 106px;
  margin-bottom: 86px;
}

.explanation-seriatim-item-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #394B50;
  margin-bottom: 20.88px;
}

.explanation-seriatim-item-text {
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 400;
  color: #7B7B7B;
  max-width: 229px;
  text-align: center;
}

.explanation-button {
  margin-top: 103px;
  width: 165px;
  height: 46px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 2px;
}

.explanation-button:hover {
  background: #c37f06;
}

.explanation-button:active {
  opacity: 0.7;
}

.heppy-clients-wrap {
  padding: 66px 0 106px;
  background-color: #FFC155;
}

.heppy-clients-h1__color {
  margin-top: 0;
  color: #ffffff;
  max-width: 249px;
  margin-bottom: 16px;
}

.heppy-clients-text__color {
  margin-top: 16px;
  color: #ffffff;
  max-width: 685px;
  padding-bottom: 82px;
  text-align: center;
}

.heppy-clients-cord {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 42px 10px 42px 20px;
  max-width: 567px;
  margin: 10px 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heppy-clients-cord-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heppy-clients-cord-poto {
  margin-right: 23px;
  border-radius: 50%;
  max-width: 121px;
  max-height: 121px;
}

.heppy-clients-cord-comment-quotes-open {
  color: #7B7B7B;
  font-size: 10px;
  position: relative;
  top: 10px;
  right: 15px;
}

.heppy-clients-cord-comment-quotes-closing {
  color: #7B7B7B;
  font-size: 10px;
  position: relative;
  top: 90px;
  left: 150px;
}

.heppy-clients-cord-comment-text {
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 400;
  color: #7B7B7B;
  max-width: 366px;
}

.heppy-clients-cord-comment-name {
  margin-top: 32px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: #75888D;
}

.heppy-clients-cord-comment-name-link {
  color: #F6772C;
}
