html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.conteiner {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Logo */
.logo {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0 23px;
}

.logo-circular-path-1 {
  stroke-dasharray: 95, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #12a8de;
  -webkit-animation: loader_anim_1 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1s 1 backwards;
          animation: loader_anim_1 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1s 1 backwards;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.logo-circular-path-2 {
  stroke-dasharray: 63, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #9ac444;
  -webkit-animation: loader_anim_2 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1.5s 1 backwards;
          animation: loader_anim_2 cubic-bezier(0.12, 0.88, 0.53, 1.08) 1.5s 1 backwards;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.logo-circular-path-3 {
  stroke-dasharray: 32, 300;
  fill: none;
  stroke-width: 3px;
  stroke: #ef7730;
  -webkit-animation: loader_anim_3 cubic-bezier(0.12, 0.88, 0.53, 1.08) 2s 1 backwards;
          animation: loader_anim_3 cubic-bezier(0.12, 0.88, 0.53, 1.08) 2s 1 backwards;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@-webkit-keyframes loader_anim_1 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 95, 300;
  }
}

@keyframes loader_anim_1 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 95, 300;
  }
}

@-webkit-keyframes loader_anim_2 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 63, 300;
  }
}

@keyframes loader_anim_2 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 63, 300;
  }
}

@-webkit-keyframes loader_anim_3 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 32, 300;
  }
}

@keyframes loader_anim_3 {
  0% {
    stroke-dasharray: 0, 300;
    -webkit-transform: rotate(685deg);
            transform: rotate(685deg);
    opacity: 0;
  }
  100% {
    stroke-dasharray: 32, 300;
  }
}

/* Navigations */
.navigation-wrap {
  position: relative;
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-link {
  color: #868686;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 19px 10px 20px;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 13.5px;
  line-height: 16.2px;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #FFBB42;
}

.nav-list-resize {
  border: 3px solid #FFBB42;
  border-radius: 5px;
  position: absolute;
  display: none;
  left: -170px;
  top: 29px;
  background-color: #ffffff;
}

.nav-item-resize {
  width: 200px;
  padding: 15px;
  border-bottom: 1px gray solid;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-item-resize:last-child {
  border: 0;
}

.nav-item-resize:hover {
  background-color: #FFBB42;
}

.nav-link-resize {
  color: #868686;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-weight: 400;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 13.5px;
  line-height: 16.2px;
}

.navigation-resize:hover .nav-list-resize {
  position: absolute;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Main */
.main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, #709DCA), color-stop(85%, #ffffff));
  background: linear-gradient(#709DCA 85%, #ffffff 85%);
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration-input {
  width: 281px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.registration-input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration-input-person {
  width: 15px;
  height: 15px;
  margin: 15px 12px 15px 12px;
}

.registration-input-message {
  margin: 16px 12px 18px 16px;
}

.registration-input-phone {
  margin: 17px 12px 17px 16px;
}

.registration-input-button {
  margin: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  height: 48px;
  border: 0;
  background-color: #FFBB42;
}

.registration-input-button-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  padding: 0 5px;
}

input {
  border: 0;
  height: 16px;
  width: 241px;
}

input:focus-visible, input :focus {
  outline: none;
}

.header-registration {
  margin-top: 82px;
  color: #ffffff;
  font-weight: 900;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
}

.header-description {
  margin-top: 16px;
  margin-bottom: 27px;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.leaf-through-adverts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leaf-through-wrap {
  margin-top: 67px;
  max-width: 647px;
  max-height: 344px;
}

.leaf-through-laptop {
  width: 100%;
}

.leaf-through-phone {
  height: 100%;
}

.leaf-through-smart-watch {
  height: 100%;
}

.leaf-through-wrap:nth-child(2) {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaf-through-wrap:nth-child(3) {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaf-through-input-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 13px;
  height: 13px;
  margin: 23px 4px 4px 4px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #DEDFE0;
}

input[type="radio"]:checked {
  border: 2px solid #1CA8DD;
}
